<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
    <head th:replace="~{base :: head('Novo Pedido')}"></head>
    <body>
        <div th:replace="~{base :: logo}"></div>
        <div class="container">
            <div th:replace="~{base :: titulo('Novo Pedido')}"></div>
                <div class="card mt-3">
                    <form th:object="${requisicaoNovoPedido}" class="card-body" action="/pedido/novo" method="post">
                        <div class="form-group">
                            <label for="nomeProduto">Produto</label>
                            <input th:field="*{nomeProduto}" th:errorclass="is-invalid" class="form-control" id="nomeProduto" placeholder="Nome do produto">
                            <small>Informe qual o nome do produto.</small>
                            <div class="invalid-feedback" th:errors="*{nomeProduto}">
                                Erro Nome do Produto
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="urlProduto">URL</label>
                            <input th:field="*{urlProduto}" th:errorclass="is-invalid" class="form-control" id="urlProduto" placeholder="URL do produto">
                            <small>Procure em um site o produto que você deseja e cole a URL da página aqui.</small>
                            <div class="invalid-feedback" th:errors="*{urlProduto}">
                                Erro Url do Produto
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="urlImagem">Imagem</label>
                            <input th:field="*{urlImagem}" th:errorclass="is-invalid" class="form-control" id="urlImagem" placeholder="URL da imagem">
                            <small>Copie a URL de uma boa imagem do produto e cole aqui a imagem.</small>
                            <div class="invalid-feedback" th:errors="*{urlImagem}">
                                Erro Url da Imagem
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="descricao">Descrição</label>
                            <textarea th:field="*{descricao}" class="form-control" id="descricao"
                                      placeholder="Adicione  detalhes importantes para ajudar o comprador."></textarea>
                        </div>
                        <button class="btn btn-primary" type="submit">Cadastrar</button>
                    </form>
                </div>
        </div>
    </body>
</html>